@font-face {
    font-family: "Vidaloka ";
    src: url("Vidaloka-Regular.eot"); /* IE9 */
    src: url("Vidaloka-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Vidaloka-Regular.woff") format("woff"), /* chrome, firefox */
    url("Vidaloka-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Vidaloka-Regular.svg#Vidaloka ") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


