body {
  margin: 0;
  background: #e7e3ef;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 51rem;
  /* outline: 1px solid blue; */
}

.logoWrapper {
  position: relative;
  width: 25rem;
  height: 25rem;
  /* outline: 1px solid green; */
}

.logoWrapper > img {
  position: absolute;
  width: 103.8%;
  top: -24.5%;
  left: -1.99%;
}

.textWrapper {
  width: 18.2rem;
  padding-top: 4rem;
  text-align: center;
}

.titleGroup > .titlePrimary {
  font-family: 'Vidaloka', serif;
  font-size: 4.5rem;
}

.titleGroup > .titleSecondary {
  display: flex;
  justify-content: space-between;
  padding-left: 0.22rem;
  padding-right: 0.22rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  opacity: 0.28;
}

.linkWrapper {
  font-family: 'Fira Mono', monospace;
  opacity: 0.28;
}

@media (max-width: 715px) {
  html {
    font-size: 4vw;
  }

  .contentWrapper {
    flex-direction: column;
    width: 100%;
  }

  .logoWrapper {
    width: 80vw;
    height: 80vw;
    margin-top: 20vw;
  }

  .textWrapper {
    padding-top: 2rem;
  }

  .linkWrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .linkWrapper > .linkLine {
    display: none;
  }

  .linkWrapper > .linkStack > div {
    margin: 0.5rem;
  }
}

@media (min-width: 715px) {
  html {
    font-size: 14px;
  }

  .contentWrapper {
    min-height: 100vh;
  }

  .linkWrapper {
    margin-top: 3.1rem;
    font-size: 1.25rem;
  }

  .linkWrapper > .linkStack {
    display: none;
  }
}

@media (min-width: 920px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}
