body {
  margin: 0;
  background: #e7e3ef;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 51rem;
  /* outline: 1px solid blue; */
}

.logoWrapper {
  position: relative;
  width: 25rem;
  height: 25rem;
  pointer-events: none;
  /* outline: 1px solid green; */
}

.logoWrapper > img {
  position: absolute;
  width: 103.8%;
  top: -24.5%;
  left: -1.99%;
}

.textWrapper {
  width: 18.2rem;
  padding-top: 4rem;
  text-align: center;
}

.titleGroup > .titlePrimary {
  font-family: 'Vidaloka', serif;
  font-size: 4.5rem;
}

.titleGroup > .titleSecondary {
  display: flex;
  justify-content: space-between;
  padding-left: 0.22rem;
  padding-right: 0.22rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  opacity: 0.28;
}

.linkWrapper {
  font-family: 'Fira Mono', monospace;
  user-select: none;
}

.linkStack > div {
  cursor: pointer;
}

.linkStack > div:hover > a {
  text-decoration: underline;
}

.linkStack > div:not(:hover) {
  opacity: 0.28;
}

.linkLine {
  position: relative;
  margin-top: -1px; /* removes the hoverable top line on clip paths */
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

.linkLineInner-base {
  transition: opacity 2s ease;
}

.linkLineInner-overlay {
  position: absolute;
  top: 2px; /* removes the hoverable top line on clip paths */
  left: 0;
}

.linkLineInner:not(:hover) {
  opacity: 0.17;
}

.linkLine:hover .linkLineInner-base {
  opacity: 0.11;
}

.linkLine:hover .linkLineInner-overlay:not(:hover) {
  opacity: 0;
}

.linkLineInner-base {
  clip-path: polygon(
       0em 0%,    0em 100%,  0.6em 100%,  0.6em 0%,
     0.6em 0%,  0.6em 100%,  1.2em 100%,  1.2em 0%,
     1.2em 0%,  1.2em 100%,  1.8em 100%,  1.8em 0%,
     1.8em 0%,  1.8em 100%,  2.4em 100%,  2.4em 0%,
     2.4em 0%,  2.4em 100%,  3.0em 100%,  3.0em 0%,
     3.0em 0%,  3.0em 100%,  3.6em 100%,  3.6em 0%,
     3.6em 0%,  3.6em 100%,  4.2em 100%,  4.2em 0%,
     4.2em 0%,  4.2em 100%,  4.8em 100%,  4.8em 0%,
     4.8em 0%,  4.8em 100%,  5.4em 100%,  5.4em 0%,
     5.4em 0%,  5.4em 100%,  6.0em 100%,  6.0em 0%,
     6.0em 0%,  6.0em 100%,  6.6em 100%,  6.6em 0%,
     6.6em 0%,  6.6em 100%,  7.2em 100%,  7.2em 0%,
     7.2em 0%,  7.2em 100%,  7.8em 100%,  7.8em 0%,
     7.8em 0%,  7.8em 100%,  8.4em 100%,  8.4em 0%,
     8.4em 0%,  8.4em 100%,  9.0em 100%,  9.0em 0%,
     9.0em 0%,  9.0em 100%,  9.6em 100%,  9.6em 0%,
     9.6em 0%,  9.6em 100%, 10.2em 100%, 10.2em 0%,
    10.2em 0%, 10.2em 100%, 10.8em 100%, 10.8em 0%,
    10.8em 0%, 10.8em 100%, 11.4em 100%, 11.4em 0%
  );
}

.linkLineInner-email {
  clip-path: polygon(
       0em 0%,    0em 100%,  0.6em 100%,  0.6em 0%,
  /* 0.6em 0%,  0.6em 100%,  1.2em 100%,  1.2em 0%, */
  /* 1.2em 0%,  1.2em 100%,  1.8em 100%,  1.8em 0%, */
  /* 1.8em 0%,  1.8em 100%,  2.4em 100%,  2.4em 0%, */
     2.4em 0%,  2.4em 100%,  3.0em 100%,  3.0em 0%,
  /* 3.0em 0%,  3.0em 100%,  3.6em 100%,  3.6em 0%, */
  /* 3.6em 0%,  3.6em 100%,  4.2em 100%,  4.2em 0%, */
     4.2em 0%,  4.2em 100%,  4.8em 100%,  4.8em 0%,
  /* 4.8em 0%,  4.8em 100%,  5.4em 100%,  5.4em 0%, */
  /* 5.4em 0%,  5.4em 100%,  6.0em 100%,  6.0em 0%, */
     6.0em 0%,  6.0em 100%,  6.6em 100%,  6.6em 0%,
  /* 6.6em 0%,  6.6em 100%,  7.2em 100%,  7.2em 0%, */
  /* 7.2em 0%,  7.2em 100%,  7.8em 100%,  7.8em 0%, */
  /* 7.8em 0%,  7.8em 100%,  8.4em 100%,  8.4em 0%, */
     8.4em 0%,  8.4em 100%,  9.0em 100%,  9.0em 0%
  /* 9.0em 0%,  9.0em 100%,  9.6em 100%,  9.6em 0%, */
  /* 9.6em 0%,  9.6em 100%, 10.2em 100%, 10.2em 0%, */
  /*10.2em 0%, 10.2em 100%, 10.8em 100%, 10.8em 0%, */
  /*10.8em 0%, 10.8em 100%, 11.4em 100%, 11.4em 0%  */
  );
}

.linkLineInner-linkedin {
  clip-path: polygon(
  /*   0em 0%,    0em 100%,  0.6em 100%,  0.6em 0%, */
     0.6em 0%,  0.6em 100%,  1.2em 100%,  1.2em 0%,
  /* 1.2em 0%,  1.2em 100%,  1.8em 100%,  1.8em 0%, */
     1.8em 0%,  1.8em 100%,  2.4em 100%,  2.4em 0%,
  /* 2.4em 0%,  2.4em 100%,  3.0em 100%,  3.0em 0%, */
  /* 3.0em 0%,  3.0em 100%,  3.6em 100%,  3.6em 0%, */
     3.6em 0%,  3.6em 100%,  4.2em 100%,  4.2em 0%,
  /* 4.2em 0%,  4.2em 100%,  4.8em 100%,  4.8em 0%, */
  /* 4.8em 0%,  4.8em 100%,  5.4em 100%,  5.4em 0%, */
  /* 5.4em 0%,  5.4em 100%,  6.0em 100%,  6.0em 0%, */
  /* 6.0em 0%,  6.0em 100%,  6.6em 100%,  6.6em 0%, */
     6.6em 0%,  6.6em 100%,  7.2em 100%,  7.2em 0%,
  /* 7.2em 0%,  7.2em 100%,  7.8em 100%,  7.8em 0%, */
     7.8em 0%,  7.8em 100%,  8.4em 100%,  8.4em 0%,
  /* 8.4em 0%,  8.4em 100%,  9.0em 100%,  9.0em 0%, */
     9.0em 0%,  9.0em 100%,  9.6em 100%,  9.6em 0%,
  /* 9.6em 0%,  9.6em 100%, 10.2em 100%, 10.2em 0%, */
    10.2em 0%, 10.2em 100%, 10.8em 100%, 10.8em 0%,
    10.8em 0%, 10.8em 100%, 11.4em 100%, 11.4em 0%
  );
}

.linkLineInner-github {
  clip-path: polygon(
  /*   0em 0%,    0em 100%,  0.6em 100%,  0.6em 0%, */
  /* 0.6em 0%,  0.6em 100%,  1.2em 100%,  1.2em 0%, */
     1.2em 0%,  1.2em 100%,  1.8em 100%,  1.8em 0%,
  /* 1.8em 0%,  1.8em 100%,  2.4em 100%,  2.4em 0%, */
  /* 2.4em 0%,  2.4em 100%,  3.0em 100%,  3.0em 0%, */
     3.0em 0%,  3.0em 100%,  3.6em 100%,  3.6em 0%,
  /* 3.6em 0%,  3.6em 100%,  4.2em 100%,  4.2em 0%, */
  /* 4.2em 0%,  4.2em 100%,  4.8em 100%,  4.8em 0%, */
     4.8em 0%,  4.8em 100%,  5.4em 100%,  5.4em 0%,
     5.4em 0%,  5.4em 100%,  6.0em 100%,  6.0em 0%,
  /* 6.0em 0%,  6.0em 100%,  6.6em 100%,  6.6em 0%, */
  /* 6.6em 0%,  6.6em 100%,  7.2em 100%,  7.2em 0%, */
     7.2em 0%,  7.2em 100%,  7.8em 100%,  7.8em 0%,
  /* 7.8em 0%,  7.8em 100%,  8.4em 100%,  8.4em 0%, */
  /* 8.4em 0%,  8.4em 100%,  9.0em 100%,  9.0em 0%, */
  /* 9.0em 0%,  9.0em 100%,  9.6em 100%,  9.6em 0%, */
     9.6em 0%,  9.6em 100%, 10.2em 100%, 10.2em 0%
  /*10.2em 0%, 10.2em 100%, 10.8em 100%, 10.8em 0%, */
  /*10.8em 0%, 10.8em 100%, 11.4em 100%, 11.4em 0%  */
  );
}

@media (max-width: 715px) {
  html {
    font-size: 4vw;
  }

  .contentWrapper {
    flex-direction: column;
    width: 100%;
  }

  .logoWrapper {
    width: 80vw;
    height: 80vw;
    margin-top: 20vw;
  }

  .textWrapper {
    padding-top: 2rem;
  }

  .linkWrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }

  .linkWrapper > .linkLine {
    display: none;
  }

  .linkWrapper > .linkStack > div {
    margin: 0.5rem;
  }
}

@media (min-width: 715px) {
  html {
    font-size: 14px;
  }

  .contentWrapper {
    min-height: 100vh;
  }

  .linkWrapper {
    margin-top: 3.1rem;
    font-size: 1.25rem;
  }

  .linkWrapper > .linkStack {
    display: none;
  }
}

@media (min-width: 920px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}
